@charset "utf-8";
/* CSS Document */

body
{
background: #cccccc; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(45deg, #cccccc 33%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(33%,#cccccc), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg, #cccccc 33%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg, #cccccc 33%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg, #cccccc 33%,#ffffff 100%); /* IE10+ */
background: linear-gradient(45deg, #cccccc 33%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}

.input
{font-family:Arial, Helvetica, sans-serif;
font-size:12px;
width:85%;
background-color:#FFF;
}

.inputSelect
{font-family:Arial, Helvetica, sans-serif;
font-size:12px;
width:85%;
background-color:#FFF;
height:20px;
}

table
{width:100%;
}

fielset
{width:100%}
