@charset "utf-8";
/* CSS Document */
#inputSmall
{width:90%;
font-family:Tahoma, Geneva, sans-serif;
font-size:12px;
}
#inputSmall2
{width:90%;
font-family:Tahoma, Geneva, sans-serif;
font-size:12px;
}